.main_content {
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  width: 100%;
}

.home_tab-header {
  border-top: 1px solid #efefef;
  align-items: center;
  color: #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
}

.home_tab-header a {
  border-top: 1px solid #262626;
  color: #14171a;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: center;
  text-transform: uppercase;
}

.home_tab-label {
  display: flex;
  align-items: center;
}

@media (min-width: 736px) {
  .main_content {
    box-sizing: content-box;
    padding: 60px 20px 0;
    width: calc(100% - 40px);
  }
}
